body {
  font-family: 'Roboto', sans-serif ;
  background-color: #EAF1F1;
  color: aliceblue;
  margin: 0px;
}

h2, h1 {
  color: darkslategrey;
}

.crazy-duck {
  opacity: 0;
}

.jumbotron {
  display: grid;
  grid-template-columns: 20px 500px auto 20px;
  grid-template-rows: 20px 50px 450px 20px;
  background-color:#2A3E51;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
}

.jumbo-left {
  position:relative;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.jumbo-left img {
  position:absolute;
  left:0;
  height: 500px;
  width: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  border: solid black;
  border-radius: 20px;
}

.jumbo-top-right {
  grid-column-start: 3 ;
  grid-row-start: 2;
  border: solid brown 1px;
  border-radius: 10px 10px 0px 0px;
  margin-left: 40px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  place-self: stretch;
}

.jumbo-top-right button {
  border-radius: 10px 10px 0px 0px;
  border: transparent;
  background-color: #ABB6C2;
}
.jumbo-top-right button:hover {
  background-color: rgb(95, 108, 122);
  color: aliceblue;
}

#left-button {
  border-radius: 10px 0px 0px 0px;
  border-right: brown solid 2px;

}

#right-button {
  border-radius: 0px 10px 0px 0px;
  /* border-left: brown solid 2px; */
}
.jumbo-bottom-right {
  grid-column-start: 3 ;
  grid-row-start: 3;
  border: solid brown 1px;
  border-radius: 0px 0px 10px 10px;
  margin-left: 40px;
}

.list {
  font-size: 20px;
  vertical-align: middle;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bullets {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px 45px 300px;
}


.bullets h2 {
  grid-area: 1 / 1 / 1 / span 3;
  align-self: center;
  justify-self: center;
}

.bullet-title {
  grid-row-start: 2;
  background-color: #2A3E51;
  margin-bottom: 0px;
  border-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bullet-content {
  grid-row-start: 3;
  margin-top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ABB6C2;
  color: darkslategrey;
}

.bullet-content, .bullet-title {
  border: solid 1px brown;
  margin: 0px 30px;
}

.pointers {
  background-color: #2A3E51;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
}

li {
  margin: 20px;
}

.nani {
  background-color: #A5A5A5;
  /* border: #A5A5A5; */
}

.footer {
  color: #2A3E51;
  display: flex;
  font-size: 20px;
  background-color: #ABB6C2 ;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
}