body {
  font-family: 'Roboto', sans-serif ;
}

.jumbotron {
  display: grid;
  grid-template-columns: 50px 500px auto 50px;
  grid-template-rows: 100px 250px 250px 100px;
  background-color: #F2CA94;
  border-radius: 20px;
}

.jumboleft {
  position:relative;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.jumboleft img {
  position:absolute;
  left:0;
  height: 500px;
  width: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.jumbotopright {
  grid-column-start: 3 ;
  grid-row-start: 2;
}

.jumbobottomright {
  grid-column-start: 3 ;
  grid-row-start: 3;
}

.centered {
  place-self: stretch;
  text-align: center;

}

.bullets {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px 45px 300px;
}


.bullets h2 {
  grid-area: 1 / 1 / 1 / span 3;
  align-self: center;
  justify-self: center;
}

.bullet-title {
  grid-row-start: 2;
  background-color: #F2CA94;
  margin-bottom: 0px;
  border-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bullet-content {
  grid-row-start: 3;
  margin-top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bullet-content, .bullet-title {
  border-style: solid;
  margin: 0px 10px;

}